Brotli
certifi
charset-normalizer
click
colorama
filelock
idna
Jinja2
joblib
MarkupSafe
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
networkx
nltk
numpy==1.26.4
pillow
PySocks
PyYAML
regex
requests
setuptools==73.0.1
sympy
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm
typing_extensions
urllib3
wheel==0.44.0